body{
	width: 100%;
	margin: 0px;
} 
#close-button{
	top:0%;
	right:0%;
	position: fixed;
  border: 0;
  background:transparent;
  color:white;
  font-size: 20px;
  outline: 0;
  cursor: pointer;
	margin: 3px;
}
.index-top{
	top: 0;
	left:0;
	position: fixed;
	width: 100%;
	background-color: #f44336;
	font-family: "Montserrat", sans-serif;
	z-index: 3;
}
.menu-item{
	font-size: 18px;
	font-color:white;
}
.item-button{
	float:left;
	color: white;
	display: block;
	text-decoration: none;
	width: auto;
	border: none;
	padding: 12px 24px!important;
	cursor: pointer;
}
.item-home{
	background-color: white;
	color: black;
	display: block;
	width: auto;
	border: none;
	padding: 12px 24px!important;
}
.item-button:hover {
	background-color: white;
	color:black;
}
.item-home:hover{
	background-color: #CCCCCC;
}
.toggle{
	display: none;
}
.container-1{
	font-family: "Montserrat", sans-serif;
	color: #fff!important;
	background-color: #f44336!important;
	text-align: center!important;
	padding: 128px 16px;
}
.jumbo{
	margin: 16px!important;
	font-size: 64px!important;
}
.paragraph{
	font-size: 24px!important;
}
.button{
	color: #fff;
	background-color: #000;
	padding:12px 24px!important;
	margin-top: 16px!important;
	font-size: 18px!important;
	border: none;
}
.button:hover{
	cursor: pointer;
	background-color: #CCCCCC;
	color: black;
}

.first-grid{
	padding-top: 64px!important;
	padding-bottom: 64px!important;
	height: 400px;
}
.first-grid h1, h2, h3, h4, h5, h6{
	font-family: "Lato", sans-serif;
}
.first-grid h1{
	font-weight: 400;
	margin: 10px 17px;
	font-size: 36px;
	display: block;
	font-family: "Montserrat", sans-serif;
	line-height: 1.5;
}
.content{
	max-width: 980px;
	margin: auto;
	margin-left: 200px;
	float: left;
	width: 50%;
}
.small-content , .second-small-content{
	padding-top: 32px!important;
	padding-bottom: 32px!important;
	font-weight: 400;
	margin: 10px 17px;
	font-size: 18px;
	display: block;
}
.text-grey{
	color: #757575!important;
	display: block;
	font-family: "Lato", sans-serif;
	margin: 10px 17px;
}
.anchor-image{
	float: left;
	margin-left: 50px;
	padding-right: 100px;
}
.fa-anchor{
	float: left;
	font-size: 200px!important;
}
.fa{
	display: block;
	color: #f44336!important;
	padding-top: 64px!important;
	padding-bottom: 64px!important;
}
.second-grid{
	color: black;
	background-color: #f1f1f1!important;
	padding-top: 64px!important;
	padding-bottom: 64px!important;
	font-family: "Lato", sans-serif;
	line-height: 1.5;
	height: 500px;
}
.second-content{
	max-width: 980px;
	margin: auto;
	margin-left: 200px;
	float: left;
	width: 50%;
}
.coffee-image{
	float: left;
	padding-left: 100px;
}
.fa-coffee{
	float: left;
	font-size: 200px!important;
}
.second-grid h1{
	font-weight: 400;
	margin: 10px 17px;
	font-size: 36px;
	display: block;
	font-family: "Montserrat", sans-serif;
	line-height: 1.5;
}
.second-text-grey{
	color: #757575!important;
	display: block;
	font-family: "Lato", sans-serif;
	margin: 10px 17px;
	font-size: 18px;
}
.bottom-part{
	color: white;
	background-color: #666666!important;
	padding-top: 64px!important;
	padding-bottom: 64px!important;
	text-align: center!important;
	z-index: 2;
}
.bottom-part h1{
	margin: 16px!important;
	font-size: 24px!important;
	font-family: "Montserrat", sans-serif;
}
.footer-class{
	background: white!important;
	padding-top: 64px!important;
	padding-bottom: 64px!important;
	text-align: center!important;
	font-family: "Lato", sans-serif;
}
.icon-class{
	padding-top: 32px!important;
	padding-bottom: 32px!important;
	font-size: 24px!important;
	opacity: .7
}
.hover-opacity{
	color: black!important;
}
.hover-opacity:hover{
	opacity: 0.60;
}
a{
	color:inherit;
}
#div-1{
	background: white!important;
	z-index: 2!important;
}

@media screen and (max-width: 479px) {
	.item-button {
		width: 100%;
		text-align: center;
	}
	.first-grid {
		width: 100%;
		height: 800px;
	}
	.content{
		margin-left: 10px;
		width: 100%;
	}
	.anchor-image{
		margin-left: 100px;
	}
	.second-grid{
		height: 1000px;
	}
	.second-content{
		margin-left: 10px;
		width: 100%;
	}
	.index-top{
		position: absolute;
	}
	.toggle{
		display: block;
		position: fixed;
		margin-top: 0!important;
		font-size: 10px;
		transform: translate(0%,+10%);
		padding: 0!important;
		right: 0%;
		background-color: transparent;
		text-align: center;
		outline: 0;
	}
	.toggle:hover{
		background-color: white;
	}
	.toggle i{
		color:black!important;
		padding:0!important;
	}
	.menu-item{
		display: none;
		position: fixed;
		top: 5%;
		width: 100%;
	}
	.item-button{
		background-color: #f44336;
	}
	.item-home{
		background-color: white;
	}

}

@media screen and (min-width: 480px) and (max-width: 1100px){
	body{
		width: 100%;
	}
	.first-grid {
		width: 100%;
		height: 700px;
	}
	.content{
		margin-left: 10px;
		width: 100%;
	}
	.anchor-image{
		margin-left: 100px;
		width: 100%;
	}
	.coffee-image{
		width: 100%;
	}
	.second-grid {
		width: 100%;
		height: 850px;
	}
	.second-content{
		margin-left: 10px;
		width: 100%;
	}
}
